<div id="<%= dom_id job %>">
  <p>
    <strong>Title:</strong>
    <%= job.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

  <p>
    <strong>Job category:</strong>
    <%= job.job_category %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= job.location %>
  </p>

  <p>
    <strong>Job author:</strong>
    <%= job.job_author %>
  </p>

  <p>
    <strong>Job company:</strong>
    <%= job.job_company %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= job.salary %> LPA
  </p>

</div>
