<nav class="panel1">
  <p class="text-uppercase has-text-gray pv1 f6">filter by job category</p>

  <ul class="mb3 pa0">
    <li class="pv1">
      <%= link_to 'All', jobs_path, class: "button is-fullwidth is-dark" %>
    </li>

    <li class="pv1">
      <%= link_to 'Computer Science', jobs_path(job_category: "Computer Science"), class: "button is-fullwidth is-primary" %>
    </li>

    <li class="pv1">
      <%= link_to 'Marketing', jobs_path(job_category: "Marketing"), class: "button is-fullwidth is-link" %>
    </li>

    <li class="pv1">
      <%= link_to 'Pharma', jobs_path(job_category: "Pharma"), class: "button is-fullwidth is-warning" %>
    </li>

    <li class="pv1">
      <%= link_to 'Civil', jobs_path(job_category: "Civil"), class: "button is-fullwidth is-info" %>
    </li>
  </ul>
</nav>