<div class="columns pt4 pb7">
  <div class="column is-7 is-offset-1">

    <p class="f7"><i class="fa fa-clock"></i> Posted <%= time_ago_in_words(@job.created_at) %> ago</p>
    <h1 class="title is-2"><%= @job.title %></h1>

    <ul class="list pb4">
      <li class="inline-block f6 pr2"><%= @job.job_category %></li>
      <li class="inline-block f6 ph2"><i class="fa fa-pin"></i> <%= @job.location %></li>
      <li class="inline-block f6 pr2"><%= @job.salary %>LPA</li>
    </ul>

    <div class="content text-serif f4">
      <%= @job.description.html_safe %>
    </div>
    
    <%if !current_user.try(:role)%>
      <% if @job.applies.where(user_id: current_user.id).present? %>
        <p style="color:red">You have already apllied to this job</p>
      <% else %>
        <%= link_to 'Apply to this job', new_job_apply_path(params[:id]), class:"button is-rounded is-large is-fullwidth is-link" %>
      <% end %>
    <% end %>
  </div>

  <div class="column is-2 is-offset-1 has-text-centered">
    <h5 class="is-5 has-text-centered"><%= @job.job_author %></h5>
    <% if current_user.try(:admin) %>
      <ul class="pv3">
        <li class="pv1 f6">Admin controls: </li>
        <li class="pv1 inline-block">
          <%= link_to 'View', @job, class: 'button is-small is-link is-outlined' %></li>
        <li class="pv1 inline-block">
          <%= link_to 'Edit', edit_job_path(@job), class: 'button is-small is-link is-outlined' %></li>
        <li class="pv1 inline-block">
          <%= button_to 'Delete', @job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small is-link is-outlined' %></li>
      </ul>
    <% end %>
  </div>
</div>

<% if user_signed_in?%>
  <div >
    
    <% if current_user.role == true && (current_user.id == @job.user_id)%>
      <% @job.applies.each do |apply| %>
        <div class=card>
          <h5 class="card-title"><%= apply.name%></h5>
          <p class="card-text">Skills: <%= apply.skills%></p>
          <p class="card-text">About Yourself: <%= apply.about_yourself%></p>
          <% if apply.resume.persisted?%>
           <%= image_tag(apply.resume) %>
          <%end%>
          
          
          <%if apply.status == 'accepted'%>
              <h3>You have already accepted this application</h3>
            <%elsif apply.status == 'rejected'%>
              <h3>You have already rejected this application</h3>
            <%else%>
              <div class="mt-4">
                <%= link_to "Accept", accept_apply_path(id: apply.id), method: :get, class: "btn btn-success btn-sm mr-2" %>
                <%= link_to "Reject", reject_apply_path(id: apply.id), method: :get, class: "btn btn-danger btn-sm mr-2" %>
              
              </div>
            <%end%>
        </div>
      <%end%>
    <% end %>
  </div>
<%end%>